<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%# Change to login by name and password%>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%# a label for remember me, and the checkbox gets nested inside the label
        by putting it in a block. The span just means a line of text which the
        class applies to - like div, which is the equivalent for a larger block,
        it doesn't apply any particular meaning unlike p for paragraph or some
        custom tag.
        The classes checkbox and inline are used by Bootstrap to put them on the
        line %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span style = "font-size:12px">Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>