<%# render @book_reviews in book_reviews/new.html.erb is what calls this partial and @book_reviews is defined in the
  def new action in book_reviews_controller %>

<li id="trial-<%= trial.id %>">
  <%= link_to gravatar_for(trial.user, size: 50), trial.user %>
  <% trial.attacks.each do |key, value| %>
    <span class="content">Attack <%= key %>: Bonus <%= value["bonus"] %>, Damage Dice <%= value["damage_dice"] %>, Damage Bonus <%= value["damage_bonus"] %>, Critical Threat <%= value["crit"] %></span>
  <% end %>
  <% if trial.crit_immune == 1 %>
    <span class="content">Opponent Damage Reduction <%= trial.damage_reduction %>, Immune to crits</span>
  <% else %>
    <span class="content">Opponent Damage Reduction <%= trial.damage_reduction %></span>
  <% end %>
  <div class = "content">
  <table style="width:100%; text-align:left">
    <tr>
    <% trial.table.each do |key, value| %>
      <% if key.to_i >= 10 %>
        <th>AC<%= key %></th>
      <% end %>
    <% end %>
    </tr>
    <tr>
    <% trial.table.each do |key, value| %>
      <% if key.to_i >= 10 %>
        <td><%= value %></td>
      <% end %>
    <% end %>
    </tr>
  </table>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(trial.created_at) %> ago.
      <%= link_to "Delete", trials_path(trial.id), method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>