<% user = current_user %>

<% page_title = "#{user.name}'s Rounds" %>
<% provide(:title, page_title) %>

<div class="row">
  <div class="col-xl-2">
    <section class="user_info">
      <% if current_user %>
        <%= render 'shared/user_info', user: current_user %>
      <% end %>
    </section>
    <div class="col-xs-12"></br></div>
  </div>



  <div class="col-xl-10">
    <% if user.trials.any? %>
      <h3><%= user.name %>'s Rounds (<%= user.trials.count %>)</h3>
        <ol class="microposts">
        <%= render @trials %>
      </ol>
      <div class="col-xs-offset-2 col-xs-3", style = "text-align:left">
      <%= link_to calculations_path, class: 'btn btn-primary navbar-btn' do %>
        <%= content_tag(:span, "", :class => "fa fa-calculator") %>
        <span style = "font-size:20px;">Return</span>
      <% end %>
      <sup style="font-size:16px;"><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "calculate_help" } %></sup>
      </div>
      <div class="col-xs-offset-2 col-xs-3", style = "text-align:right">
        <%= link_to trials_index_url(format: :xlsx), class: 'btn btn-primary navbar-btn' do %>
          <%= content_tag(:span, "", :class => "fa fa-download") %>
          <span style = "font-size:20px;">Download</span>
        <% end %>
        <sup style="font-size:16px;"><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "download_help" } %></sup>
      </div>
    <% else %>
      <h3><%= user.name %> has not saved any rounds</h3>
      <div class="col-xs-offset-5 col-xs-2", style = "text-align:center">
      <%= link_to calculations_path, class: 'btn btn-primary navbar-btn' do %>
        <%= content_tag(:span, "", :class => "fa fa-calculator") %>
        <span style = "font-size:20px;">Return</span>
      <% end %>
      <sup style="font-size:16px;"><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "calculate_help" } %></sup>
      </div>
    <% end %>
  </div>
</div>