<div class="col-xs-12"></br></div>

<div class="field" >
  <div class="col-xs-2">
  <h3 style="padding-top:2px"> <%# the padding is just to show the superscript question mark %>
      Patient<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "patient_help" } %></sup>
    </h3>
</div>
  <%= f.label :sex, "Sex", class: "col-xs-2", style: "text-align:right"  %>
      <% if  @settings != nil && @settings[:sex] != nil && @settings[:sex] == "1" %>
        <div class="col-xs-1">
          <%= f.radio_button :sex, "1",  :checked => true, class: "form_control" %>
          <%= f.label :sex, 'Male', class: "control-label", style: "text-align:left;font-weight:normal" do %>
            <span style = "font-weight:1200; font-size:28px;">&#9794;</span>
          <% end %>
        </div>
        <div class="col-xs-1">
          <%= f.radio_button :sex, "0", class: "form_control" %>
          <%= f.label :sex, 'Female', class: "control-label", style: "text-align:left; font-weight:normal" do %>
            <span style = "font-weight:1200; font-size:28px;">&#9792;</span>
          <% end %>
        </div>
      <% else %>
        <div class="col-xs-1">
          <%= f.radio_button :sex, "1",  class: "form_control" %>
          <%= f.label :sex, "Male", class: "control-label", style: "text-align:left;font-weight:normal" do  %>
            <span style = "font-weight:1200; font-size:28px;">&#9794;</span>
          <% end %>
        </div>
        <div class="col-xs-1">
          <%= f.radio_button :sex, "0",  :checked => true, class: "form_control" %>
          <%= f.label :sex, "Female", class: "control-label", style: "text-align:left; font-weight:normal" do %>
            <span style = "font-weight:1200; font-size:28px;">&#9792;</span>
          <% end %>
        </div>
      <% end %>
</div>
<div class="field" >
  <%= f.label :height, class: "col-xs-2", style: "text-align:right" do %>
    <span>Height (cm)</span>
  <% end %>
  <% if  @settings != nil && @settings["height"] != nil %>
    <%= f.number_field "height", min: 0, max: 300, value: @settings["height"], class: "control-label col-xs-1" %>
  <% else %>
    <%= f.number_field "height", min: 0, max: 300, value: 150, class: "control-label  col-xs-1" %>
  <% end %>
</div>
<div class="field" >
  <%= f.label :weight, class: "col-xs-2", style: "text-align:right" do %>
    <span>Weight (kg)</span>
  <% end %>
  <% if  @settings != nil && @settings["weight"] !=nil %>
    <%= f.number_field "weight", min: 0, max: 200, value: @settings["weight"], class: "control-label col-xs-1" %>
  <% else %>
    <%= f.number_field "weight", min: 0, max: 200, value: 50, class: "control-label col-xs-1" %>
  <% end %>
</div>

<div class="col-xs-12"></br></div>
<div class="col-xs-12">
  <h3 style="padding-top:2px">
    Indication<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "dosage_help" } %></sup>
    <%# Need to set the form for in new view to set an html form id, and specify that it points to
        post as it is no longer a standard button that assumes this. Also remote true prevents the
        normal link behavior to bring up the calculations_url page, and so now just done once
        at the end of the create action with the redirect to %>
    <%= link_to "", :remote =>true, :action => "post", :onclick => "$('#form_id').submit()" do %>
      <span style = "font-size:20px">(Update displayed specialities)</span>
    <% end %>
    </h3>
</div>
<div class="col-xs-12"></div>
<div class="field" style = "font-size: 14px">
  <%= f.label :immunology_select, class: "control-label col-xs-4", style: "text-align:left;" do %>
    <% if @settings["immunology_select"] == "0" %>
      <%= f.check_box :immunology_select, :checked => false, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% else %>
      <%= f.check_box :immunology_select, :checked => true, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% end %>
    <span>Immunology</span>
  <% end %>
  <%= f.label :haematology_select, class: "control-label col-xs-4", style: "text-align:left;" do %>
    <% if @settings["haematology_select"] == "0" %>
      <%= f.check_box :haematology_select, :checked => false, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% else %>
      <%= f.check_box :haematology_select, :checked => true, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% end %>
    <span>Haematology</span>
  <% end %>
  <%= f.label :other_select, class: "control-label col-xs-4", style: "text-align:left;" do %>
    <% if @settings["other_select"] == "0" %>
      <%= f.check_box :other_select, :checked => false, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% else %>
      <%= f.check_box :other_select, :checked => true, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% end %>
    <span>Other</span>
  <% end %>
  <div class="col-xs-12"></div>
  <%= f.label :neurology_select, class: "control-label col-xs-4", style: "text-align:left;" do %>
    <% if @settings["neurology_select"] == "0" %>
      <%= f.check_box :neurology_select, :checked => false, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% else %>
      <%= f.check_box :neurology_select, :checked => true, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% end %>
    <span>Neurology</span>
  <% end %>
  <%= f.label :infectious_diseases_select, class: "control-label col-xs-4", style: "text-align:left;" do %>
    <% if @settings["infectious_diseases_select"] == "0" %>
      <%= f.check_box :infectious_diseases_select, :checked => false, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% else %>
      <%= f.check_box :infectious_diseases_select, :checked => true, class: "checkbox_inline", style: "text-align:left; font-size:28px;" %>
    <% end %>
    <span>Infections</span>
  <% end %>
</div>
<div class="col-xs-12"></div>

<div class="col-xs-6">
    <% selected_disease_id = @settings["selected_disease_id"] %>
    <% if  @matching_descriptions == nil || @matching_descriptions.empty? %>
      <% if selected_disease_id != nil %>
        <%= f.collection_select "selected_disease_id", DiseaseDescription.all, :disease_id, :name,
        {include_blank: true, selected: selected_disease_id},
        {multiple: false, size: 6, class: "control label  col-xs-12", style: "font-size:24px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
      <% else %>
        <%= f.collection_select "selected_disease_id", DiseaseDescription.all, :disease_id, :name,
        {include_blank: true},
        {multiple: false, size: 6, class: "control label  col-xs-12", style: "font-size:24px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
      <% end %>
    <% else %>
      <%# logger.debug "Matching descriptions = #{@matching_descriptions}" %>
      <% if selected_disease_id != nil %>
        <%= f.collection_select "selected_disease_id", @matching_descriptions, :disease_id, :name,
        {include_blank: true, selected: selected_disease_id},
        {multiple: false, size: 6, class: "control label  col-xs-12", style: "font-size:24px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
      <% else %>
        <%= f.collection_select "selected_disease_id", @matching_descriptions, :disease_id, :name,
        {include_blank: true},
        {multiple: false, size: 6, class: "control label  col-xs-12", style: "font-size:24px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
      <% end %>
    <% end %>
</div>
<% dose = @settings["selected_dose"] %>
<% if dose != nil %>
  <div class="col-xs-6" style="font-size: 20px; color:#565051;">
    <% disease_description = DiseaseDescription.find_by(id: selected_disease_id) %>

    <% if @expand_description[disease_description.disease.id.to_s] != 1 %>
      <h3 style="font-size: 32px">
      <%# the selected_disease_id is actually the id of the DiseaseDescription because obtained from collection select on DiseaseDescription %>
      <%= disease_description.name %>
      <%= link_to calculations_show_path(disease_description.disease.id) do %>
        <span >&#9660;</span>
      <% end %>
      </h3>
      <div class= style="font-size: 24px;">
        <%= link_to "Dose:" , {:action => "help", :controller => "static_pages", :anchor => "regimen_help" } %>
        <%= dose %>
      </div>
    <% else %>
      <h3 style="font-size: 32px">
      <%# the selected_disease_id is actually the id of the DiseaseDescription because obtained from collection select on DiseaseDescription %>
      <%= disease_description.name %>
      <%= link_to calculations_show_path(disease_description.disease.id) do %>
        <span >&#9650;</span>
      <% end %>
      </h3>
      <div > <%# the padding is just to show the superscript question mark %>
        <%= link_to "Description:" , {:action => "help", :controller => "static_pages", :anchor => "indication_help" } %>
        <%= disease_description.description.sub(/^./, &:upcase) %>
      </div>
      <div > <%# the padding is just to show the superscript question mark %>
        <%= link_to "Speciality:" , {:action => "help", :controller => "static_pages", :anchor => "speciality_help" } %>
        <%= disease_description.disease.speciality.sub(/^./, &:upcase) %>
      </div>
      <div > <%# the padding is just to show the superscript question mark %>
        <%= link_to "Eligibility Criteria:" , {:action => "help", :controller => "static_pages", :anchor => "criteria_help" } %>
        <%= disease_description.disease.criteria.sub(/^./, &:upcase) %>
      </div>
      <div > <%# the padding is just to show the superscript question mark %>
        <% priority = disease_description.disease.priority %>
        <% if priority == "1. Red" %>
          <%= link_to "Demand Management Priority Colour Code:" , {:action => "help", :controller => "static_pages", :anchor => "priority_help" } %>
          <span style="font-weight:600; color:red;"><%=  priority %></span>
        <% elsif priority == "2. Blue" %>
          <%= link_to "Demand Management Priority Colour Code:" , {:action => "help", :controller => "static_pages", :anchor => "priority_help" } %>
          <span style="font-weight:600; color:blue;"><%=  priority %></span>
        <% elsif priority == "3. Grey" %>
          <%= link_to "Demand Management Priority Colour Code:" , {:action => "help", :controller => "static_pages", :anchor => "priority_help" } %>
          <span style="font-weight:600; color:gray;"><%=  priority %></span>
        <% elsif priority == "Black" %>
          <%= link_to "Demand Management Priority Colour Code:" , {:action => "help", :controller => "static_pages", :anchor => "priority_help" } %>
          <span style="font-weight:600; color:black;"><%=  priority %></span>
        <% else %>
          <%= link_to "Demand Management Priority Colour Code:" , {:action => "help", :controller => "static_pages", :anchor => "priority_help" } %> unlisted
        <% end %>
      </div>
      <div >
        <%= link_to "Dose:" , {:action => "help", :controller => "static_pages", :anchor => "regimen_help" } %>
        <%= dose %>
      </div>
      <div >
        <%= link_to "Outcome Measures for National Database:" , {:action => "help", :controller => "static_pages", :anchor => "outcome_help" } %>
        <%= disease_description.disease.outcome %>
      </div>
      <div>
        <%= link_to "Commissioning:" , {:action => "help", :controller => "static_pages", :anchor => "commissioning_help" } %>
        <%= disease_description.disease.commissioning %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-xs-6">
    <h3 style="padding-top:2px"> <%# the padding is just to show the superscript question mark %>
      </br>
    </h3>
  </div>
<% end %>
<div class="col-xs-12"></br></div>
<div class="col-xs-6">
  <h3 style="padding-top:2px"> <%# the padding is just to show the superscript question mark %>
    Unlisted Indications Dosage<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "unlisted_dosage_help" } %><sup>
  </h3>
</div>
<div class="col-xs-6">
  <h3 style="padding-top:2px"> <%# the padding is just to show the superscript question mark %>
    Unlisted Indications Regimen<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "unlisted_regimen_help" } %><sup>
  </h3>
</div>
<div class="col-xs-12"></br></div>
<div class="col-xs-6">
  <% if  @settings != nil && @settings["manual_dosage"] != nil %>
    <%= f.number_field :manual_dosage, min: 0, max: 2.0, step: 0.01, value: @settings["manual_dosage"], class: "control-label col-xs-2" %>
    <% manual_dose = @settings["manual_dose"] %>
    <% if manual_dose != nil %>
      <%= f.label " g/kg", class: "col-xs-10", style: "text-align:left" do %>
        <span>g/kg gives total dose of <%= manual_dose %> g</span>
      <% end %>
    <% else %>
      <%= f.label " g/kg", class: "col-xs-10", style: "text-align:left" do %>
        <span>g/kg</span>
      <% end %>
    <% end %>
  <% else %>
    <%= f.number_field :manual_dosage, min: 0, max: 2.0, step: 0.01, class: "control-label col-xs-2" %>
    <%= f.label " g/kg", class: "col-xs-10", style: "text-align:left" %>
  <% end %>
</div>
<div class="col-xs-6">
  <% if  @settings != nil && @settings["manual_regimen"] != nil %>
    <%= f.text_field :manual_regimen, value: @settings["manual_regimen"], class: "control-label col-xs-12" %>
    <% manual_regimen_dose = @settings["manual_regimen_dose"] %>
    <% if manual_regimen_dose != nil %>
      <%= f.label " g/kg", class: "col-xs-12", style: "text-align:left" do %>
        <span>Manual regime = <%= manual_regimen_dose %></span>
      <% end %>
    <% end %>
  <% else %>
    <%= f.text_field :manual_regimen, value: @settings["manual_regimen"], class: "control-label col-xs-12" %>
  <% end %>
</div>


<div class="col-xs-12"></br></div>

<%# Anything that is submitted rather than using a button gets greyed out when rendering the excel file and cannot do two renders in one action
Therefore I used buttons and the complicated button key value system for all but the export button %>
<div class="col-xs-4", style = "text-align:left">
    <%= f.button name: "calculate", value: "Calculate", class: "btn btn-default btn-primary" do  %>
      <span style = "font-size:30px">Calculate</span>
    <% end %>
    <sup style="font-weight:bold; font-size:30px;"><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "calculate_help" } %></sup>
</div>
<div class="col-xs-12"></br></div>
