<div class="col-xs-12">
    <h3 style="font-weight:bold; font-size:26px; padding-top:2px"> <%# the padding is just to show the superscript question mark %>
      </br>
      DPR Calculation
    </h3>
</div>
<div class="col-xs-12"></br></div>

<% if @settings["attacks"] != nil %>
  <%# the key :attacks has a value of a hash, %>
  <% @settings["attacks"].each do |key, value| %>
    <div class="col-xs-12">
      <h3 style="font-weight:bold; font-size:26px; padding-top:2px"> <%# the padding is just to show the superscript question mark %>
        Attack <%= key %><sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "attack_help" } %><sup>
      </h3>
    </div>
    <div class="field">
      <%= f.label "attack_" + key +  "_bonus", class: "col-xs-2", style: "text-align:right" do %>
        <span>Attack Bonus<span>
      <% end %>
      <% bonus = @settings["attacks"][key]["bonus"] %>
      <% if  bonus != nil %>
        <%= f.number_field "attack_" + key +  "_bonus", min: -10, max: 40, value: bonus, class: "control-label col-xs-1" %>
      <% else %>
        <%= f.number_field "attack_" + key +  "_bonus", min: -10, max: 40, value: 0, class: "control-label  col-xs-1" %>
      <% end %>

      <%= f.label "attack_" + key +  "_damage_dice", class: "col-xs-2", style: "text-align:right" do %>
        <span>Damage<span>
      <% end %>
      <% damage_dice = @settings["attacks"][key]["damage_dice"] %>
      <% logger.debug "Damage dice = #{damage_dice}" %>
        <% if  damage_dice != nil %>
          <%= f.collection_select "attack_" + key +  "_damage_dice", @damage_categories,:to_s, :to_s,
            {include_blank: false, selected: damage_dice},
            {multiple: false, size: 3, class: "control label col-xs-1", style: "font-size:14px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
        <% else %>
          <%= f.collection_select "attack_" + key +  "_damage_dice", @damage_categories,:to_s, :to_s,
            {include_blank: false, selected: @damage_dice_default},
            {multiple: false, size: 3, class: "control label col-xs-1", style: "font-size:14px; color:#808080; padding-left: 0px; padding-right: 0px; text-align:left"} %>
        <% end %>
      <%= f.label "attack_" + key +  "_damage_bonus", class: "col-xs-1", style: "text-align:center" do %>
        <span>+<span>
      <% end %>
      <% bonus = @settings["attacks"][key]["damage_bonus"] %>
      <% if  bonus != nil %>
        <%= f.number_field "attack_" + key +  "_damage_bonus", min: -10, max: 40, value: bonus, class: "control-label col-xs-1" %>
      <% else %>
        <%= f.number_field "attack_" + key +  "_damage_bonus", min: -10, max: 40, value: 0, class: "control-label  col-xs-1" %>
      <% end %>

      <%= f.label "attack_" + key +  "_crit", "Critical Threat", class: "col-xs-2", style: "text-align:right" %>
      <% crit = @settings["attacks"][key]["crit"] %>
        <% if  crit != nil %>
          <%= f.collection_select "attack_" + key +  "_crit", @crit_categories,:to_s, :to_s,
            {include_blank: false, selected: crit},
            {multiple: false, size: 3, class: "control label col-xs-2", style: "font-size:16px; color:#808080; text-align:left"} %>
        <% else %>
          <%= f.collection_select "attack_" + key +  "_crit", @crit_categories,:to_s, :to_s,
            {include_blank: false, selected: @crit_default},
            {multiple: false, size: 3, class: "control label col-xs-2", style: "font-size:16px; color:#808080; text-align:left"} %>
        <% end %>
    </div>
  <% end %>
<% end %>

<div class="col-xs-12"></br></div>
<div class="col-xs-2">
  <%= f.button name: "add_attack", value: "Add Attack", class: "btn btn-default btn-primary" do  %>
    <span style = "font-size:14px;">Add Attack</span>
  <% end %>
</div>
<% if @settings["attacks"]["2"] != nil %>
  <div class="col-xs-2">
    <%= f.button name: "remove_attack", value: "Remove Attack", class: "btn btn-default btn-primary" do  %>
      <span style = "font-size:14px;">Remove Attack</span>
    <% end %>
  </div>
<% end %>
<div class="col-xs-12"></br></br></div>
<div class="col-xs-12">
  <h3 style="font-weight:bold; font-size:26px; padding-top:2px"> <%# the padding is just to show the superscript question mark %>
    Opponent<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "attack_help" } %><sup>
  </h3>
</div>
<div class="field" >
  <%= f.label :AC, class: "col-xs-2", style: "text-align:right" do %>
    <span>Armour Class<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "ac_help" } %></sup><span>
  <% end %>
  <% if  @settings != nil && @settings["AC"] != nil %>
    <%= f.number_field "AC", min: 0, max: 40, value: @settings["AC"], class: "control-label col-xs-1" %>
  <% else %>
    <%= f.number_field "AC", min: 0, max: 40, value: 10, class: "control-label  col-xs-1" %>
  <% end %>
</div>
<div class="field" >
  <%= f.label :DR, class: "col-xs-2", style: "text-align:right" do %>
    <span>Damage Reduction<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "dr_help" } %></sup><span>
  <% end %>
  <% if  @settings != nil && @settings["DR"] !=nil %>
    <%= f.number_field "DR", min: -10, max: 20, value: @settings["DR"], class: "control-label col-xs-1" %>
  <% else %>
    <%= f.number_field "DR", min: -10, max: 20, value: 0, class: "control-label col-xs-1" %>
  <% end %>
</div>
<div>
  <%= f.label "crit_immune", "Crit Immune", class: "col-xs-offset-2 col-xs-2", style: "text-align:right" %>
  <div class="col-xs-1" >
    <% if  @settings != nil && @settings["crit_immune"] == "1" %>
      <%= f.check_box "crit_immune", checked: true, class: "form_control" %>
    <% else %>
      <%= f.check_box "crit_immune", checked: false, class: "form_control" %>
    <% end %>
  </div>
</div>

<div class="col-xs-12">
  </br>
</div>

<div class="col-xs-12"></br></div>
<% damage_per_round = @settings["damage_per_round"] %>
<% if damage_per_round != nil %>
  <div class="col-xs-12">
    <h3 style="font-weight:bold; font-size:26px; padding-top:2px"> <%# the padding is just to show the superscript question mark %>
      </br>
      Total Damage per Round = <%= damage_per_round %>
    </h3>
  </div>
<% end %>
<div class="col-xs-12"></br></div>