<%# This file is very similar to new, as just editing instead of creating new.
But admin can view index and then edit others' prizes so need to find the user, from
the user_id column associated with the prize; @prize was set in the edit action in
prizes_controller%>



<% page_title = "Editing a Neurological Disease" %>
<% provide(:title, page_title) %>

<div class="row">
  <div class="col-md-6">
    <section class="user_info">
      <% if current_user %>
        <%= render 'shared/user_info', user: current_user %>
      <% end %>
    </section>
    <section>
      <h3 style="padding-top:2px; font-weight:bold">
        Editing <%= @disease_description.name %><sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "edit_indication_help" } %><sup>
      </h3>
      </br>
      <%= render 'shared/disease_form', object: @disease %>
    </section>
  </div>
  <div class="col-md-6">
    <% if @diseases.any? %>
      <h3 style="padding-top:2px; font-weight:bold">
          <% if params[:action] != "show" || session[:search_term] == nil %>
            Indications (<%= @disease_count %>)<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "diseases_page_help" } %></sup>
          <% else %>
            Indications containing "<%= session[:search_term] %>" (<%= @disease_count %>)<sup><%= link_to "(?)" , {:action => "help", :controller => "static_pages", :anchor => "diseases_page_help" } %></sup>
          <% end %>
          <span style="font-size:16px;">
            Sort by:
            <% if @sort_by == "speciality" %>
              <%= link_to "Speciality", diseases_sort_path %>
            <% elsif @sort_by == "abc" %>
              <%= link_to "ABC", diseases_sort_path %>
            <% elsif @sort_by == "commissioning" %>
              <%= link_to "Commissioning", diseases_sort_path %>
            <% elsif @sort_by == "default" %>
              <%= link_to "Default", diseases_sort_path %>
            <% elsif @sort_by == "regimen" %>
              <%= link_to "Dose Regimen", diseases_sort_path %>
            <% elsif @sort_by == "priority" %>
              <%= link_to "Demand Management Priority", diseases_sort_path %>
            <% end %>
          </span>
        </h3>
        <ol class="diseases">
          <%= render @diseases %>
        </ol>
        <%= will_paginate @diseases %>
    <% else %>
      <h3>There are not yet any diseases in the database</h3>
    <% end %>
  </div>
</div>