<%# This header partial goes at the top of all the application's pages;
    the navbar, navbar-fixed-top and navbar-inverse are css classes used by Bootstrap
    to set a linkable name for the application and links on a white on black bar
    to the home help and log-in pages%>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <%# the div tag means generic division, in HTML 5 and later usually
      excluding header, nav and section divisions which have their own names;
      its container class has a special meaning to bootstrap. Here it is a division
      within the header that has the bootstrap container property%>
      <div class="container">
        <%# The function link_to takes the link text, the url to goto (use #
        as a placeholder) and an options hash with :id. Set a class with .class
        eg in custom.scss and set an id with #logo. Call a class with eg
        div class="center" and call an id with the id: "logo"%>
        <%= link_to "Ig Dose Calculator", root_path, id: "logo" %>
        <nav style = "font-size:30px; padding-top: 9px;">
          <%# ul is unordered list tag%>
          <ul class="nav navbar-nav navbar-right">
            <%# li is list item%>

            <li><%= link_to "Home",  root_path %></li>
            <li><%= link_to "Calculate",  calculations_path %></li>
            <li><%= link_to "Index", diseases_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account<b class="caret"></b>&nbsp;&nbsp;
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Options", current_user %></li>
                  <li><%= link_to "Password Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to logout_path, method: "delete" do %>
                      <%= content_tag(:span, "", :class => "fa fa-sign-out") %>
                      Log out &nbsp;
                    <% end %>
                    <%#= content_tag(:span, "", :class => "fa fa-stethoscope") %>

                  </li>
                </ul>
              </li>
            <% else %>
              <%# &nbsp; doesn't work in these link_to quotes. Use html_safe method
                  can also do haml ie <li><%= link_to "Log in \xA0", login_path %>
              <li><%= link_to login_path do %>
                Admin &nbsp;
              <% end %>
              </li>
              <%# <%= link_to "Log in &nbsp;".html_safe, login_path %>
            <% end %>

          </ul>
        </nav>
      </div>
    </header>